/* Coolors Exported Palette - https://coolors.co/e5765e-f8fbf9-fdf1ee-30baae-0eb7b4-312f2f-918f8e */

/* CSS HEX */
--terra-cotta: #E5765Eff;
--baby-powder: #F8FBF9ff;
--seashell: #FDF1EEff;
--tiffany-blue: #30BAAEff;
--tiffany-blue-2: #0EB7B4ff;
--jet: #312F2Fff;
--spanish-gray: #918F8Eff;

/* CSS HSL */
--terra-cotta: hsla(11, 72%, 63%, 1);
--baby-powder: hsla(140, 27%, 98%, 1);
--seashell: hsla(12, 79%, 96%, 1);
--tiffany-blue: hsla(175, 59%, 46%, 1);
--tiffany-blue-2: hsla(179, 86%, 39%, 1);
--jet: hsla(0, 2%, 19%, 1);
--spanish-gray: hsla(20, 1%, 56%, 1);

/* SCSS HEX */
$terra-cotta: #E5765Eff;
$baby-powder: #F8FBF9ff;
$seashell: #FDF1EEff;
$tiffany-blue: #30BAAEff;
$tiffany-blue-2: #0EB7B4ff;
$jet: #312F2Fff;
$spanish-gray: #918F8Eff;

/* SCSS HSL */
$terra-cotta: hsla(11, 72%, 63%, 1);
$baby-powder: hsla(140, 27%, 98%, 1);
$seashell: hsla(12, 79%, 96%, 1);
$tiffany-blue: hsla(175, 59%, 46%, 1);
$tiffany-blue-2: hsla(179, 86%, 39%, 1);
$jet: hsla(0, 2%, 19%, 1);
$spanish-gray: hsla(20, 1%, 56%, 1);

/* SCSS RGB */
$terra-cotta: rgba(229, 118, 94, 1);
$baby-powder: rgba(248, 251, 249, 1);
$seashell: rgba(253, 241, 238, 1);
$tiffany-blue: rgba(48, 186, 174, 1);
$tiffany-blue-2: rgba(14, 183, 180, 1);
$jet: rgba(49, 47, 47, 1);
$spanish-gray: rgba(145, 143, 142, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #E5765Eff, #F8FBF9ff, #FDF1EEff, #30BAAEff, #0EB7B4ff, #312F2Fff, #918F8Eff);
$gradient-right: linear-gradient(90deg, #E5765Eff, #F8FBF9ff, #FDF1EEff, #30BAAEff, #0EB7B4ff, #312F2Fff, #918F8Eff);
$gradient-bottom: linear-gradient(180deg, #E5765Eff, #F8FBF9ff, #FDF1EEff, #30BAAEff, #0EB7B4ff, #312F2Fff, #918F8Eff);
$gradient-left: linear-gradient(270deg, #E5765Eff, #F8FBF9ff, #FDF1EEff, #30BAAEff, #0EB7B4ff, #312F2Fff, #918F8Eff);
$gradient-top-right: linear-gradient(45deg, #E5765Eff, #F8FBF9ff, #FDF1EEff, #30BAAEff, #0EB7B4ff, #312F2Fff, #918F8Eff);
$gradient-bottom-right: linear-gradient(135deg, #E5765Eff, #F8FBF9ff, #FDF1EEff, #30BAAEff, #0EB7B4ff, #312F2Fff, #918F8Eff);
$gradient-top-left: linear-gradient(225deg, #E5765Eff, #F8FBF9ff, #FDF1EEff, #30BAAEff, #0EB7B4ff, #312F2Fff, #918F8Eff);
$gradient-bottom-left: linear-gradient(315deg, #E5765Eff, #F8FBF9ff, #FDF1EEff, #30BAAEff, #0EB7B4ff, #312F2Fff, #918F8Eff);
$gradient-radial: radial-gradient(#E5765Eff, #F8FBF9ff, #FDF1EEff, #30BAAEff, #0EB7B4ff, #312F2Fff, #918F8Eff);